<div class="page-header">
  <h1>All of the Statuses</h1>
</div>

<p><%= link_to 'Post a New Status', new_status_path, class: "btn btn-primary" %></p>
  
<% @statuses.each do |status| %>
  <div class="status">
    <strong><%= status.name %></strong>
    <p><%= status.content %></p>
    <div class"meta">
      <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
      <span class="admin"> <!-- admin class allows us to selectively show and hide these -->
        | <%= link_to 'Update', edit_status_path(status) %>
        | <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you crazy?!'} %>
      </span>
    </div>
  </div>
<% end %>



